@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

* {
  box-sizing: border-box;
}
/*this is needed to make footer at bootom*/
body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.main {
  align-items: center;
}
.navbar
{
  width: 95%;
}
nav
{
  text-align: right;
}
nav ul li {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  /* color: whitesmoke !important; */
  font-size: 40px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  cursor: pointer;
} 
nav ul li button
{
  /* background:rgba(255, 255, 255, 0); */
  background-color: #000000;
  color: white;
  border-radius: 9px;
  height: 46px;
  border: 0px;
  font-size: 22px;
  margin: 0px 9px;
  cursor: pointer;
  transform: scale(1);
  text-decoration: none;
  transition: 0.25s ease-in-out;
  
}
nav ul li button:hover
{
  transform: scale(1.2);
  color: rgb(255, 241, 255);
  text-decoration: overline;
}
/* .navbar
{
  width: 90%;
  overflow: hidden;
}
.leftnavbar
{
  float: left;
  font-size: 25px;
  font-family: 'Kdam Thmor Pro', sans-serif;
  margin-left: 2px;
  margin-top: 4px;
} */
.searchBar {
  text-align: center;
  margin: auto;
  padding: 50px;
  font-size: 2rem;
  margin: 70px 0px;
}
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 2rem 3vw;
  padding: 0;
  list-style-type: none;
}
.photoViewer {
  position: relative;
  overflow: hidden;
  border: 5px solid #000000;
  border-radius: 1.25em;
}
img {
  object-fit: cover;
}

.card_overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: rgb(7 30 118);
  border-radius: 15px;
  transform: translateY(40%);
  transition: 0.25s ease-in-out;
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5em;
  padding: 1.125em;
  border-radius: 40px 0 0 0;
}
.card__header p {
  font-size: 0.8em;
  color: white;
  font-weight: 100;
}
.card_overlay:hover{
  transform: translateY(14%);
}

.uploader_image {
  border-radius: 50%;
  border: 4px solid #ffffff8c;
}

.btn {
  font-size: 1.25rem;
  border: 1px solid black;
  border-radius: 9px;
  transform: scale(1);
  background-color: #000000;
  padding: 5px;
  transition: 0.25s ease-in-out;
  color: white;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}
.btn:hover {
  transform: scale(1.08);
  /* box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8),
    6px 6px 10px rgba(0, 0, 0, 0.2); */
}

#header-search {
  font-size: 1.02rem;
  border: 1px solid black;
  height: 2em;
  width: 17em;
  border-radius: 5px;
}


.pages{
  display: flex;
  padding: 20px;
}
.pages div{
  padding: 5px;
  margin: auto;
}

.footer footer
{
  background-color: #000000;
  color: white;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}